h1{
    color:blueviolet;
    text-align: center;
    }

h2{
    color: red;
}

h3{
    color: red;
}

.colonnes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.colonnes img, .colonnes p{
    width: 30%;

}

.colonnes p{
    color: whitesmoke;
}